/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* generics */
body{
    font-family: sans-serif;
    /* ! per non far sovraporre il testo con l'header userò il padding  */
    padding-top: 50px; 
}
header{
    background-color: #FF6800;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 0 10px #666;
    
}
/* ? navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar > * {
    padding: 10px;
    flex-basis: 20%;
}
  
  .navbar-central {
    flex-grow: 1;
    text-align: center;
}
.navbar-logo{
    height: 25px;
}
  .navbar-menu >*{
    color: white;
    text-decoration: none;
    padding: 0 3px;
  }
  
  .navbar-extra {
    text-align: right;
    
  }
  .navbar-extra>*{
    color: white;
    text-decoration: none;
    text-align: right;
  }
  /* ? main */
  main{
    margin: 30px auto;
  }
  .row{
    gap: 10px;

  }
  .col{
    flex-basis: calc (100% / 3);
    min-height: 50px;

  }
  .card{
    position: relative;

  }
  .card img{
    background-size: cover;
    height: 480px;
    display: block;
    max-width: 100%;
  }

  /* ? FOOTER */
  footer {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 10px;
    background-color: #1A1A1A;
    min-height: 50px;
    
  }
  .footer-nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .footer-link>*{
    color: white;
    text-decoration: none;
    font-size: 10px;

  }
/*   
  .footer-bottom > * {
    padding: 5px 10px;
    
  } */
  .footer-icon>*{
    margin: 0 5px;
    
  }



/* Utils */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.border{
    border: 2px dashed black;
}
.discount{
    background-color: #FF0000;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    
}
.sostenibility{
    background-color: #008001;
    color: white;
    

}
.heart{
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    top: 9px;
    right: 0px;
}
.pad-targ{
    padding: 5px 10px;
    font-size: 10px;
}

.abslt-disc{
    position: absolute;
    left: 0;
    bottom: 70px;
}
.abslt-sost{
    position: absolute;
    bottom: 70px;
    left: 43px;
}
.abslt-sost-uni{
    position: absolute;
    bottom: 70px;
    left: 0;

}
/* hover */
.another{
    background-size: cover;
    height: 480px;
    display: block;
    max-width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.card:hover .another{ 
    display: block;
}
.heart-red{
    color: red;
    display: none;
    padding: 5px 10px;
    position: absolute;
    top: 9px;
    right: 0px;
}
.card:hover .heart-red{
    display: block;
}
/* text */
.text{
    margin-bottom: 30px;
}
h6{
    font-weight: 100;
}
h5{
    color: red;
    font-weight: bold;
}
#old{
    text-decoration: line-through;
    color: black;
}